.products__list {
    align-items: stretch !important;
}

.products__item{
    /* display: flex; */
    /* flex-direction: column; */
    /* justify-content: space-between; */
    /* background-color: #fff; */
    border-radius: 25px;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    -ms-border-radius: 25px;
    -o-border-radius: 25px;
    padding: 1rem;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;

}

.products__item img{
    width: 50%;
    min-height: 30%;
}